<template>
  <div>
    <button @click="testFunc">Просто кнопка</button>
  </div>
</template>

<script setup>
function testFunc() {
  console.log('btn from npm package clicked')
}
</script>

<style scoped>

</style>
